.alert {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  margin-bottom: 30px;
}

.alert span {
  font-size: 0.9em;
  font-weight: 500;
}

.alert.danger {
  background-color: rgba(255, 0, 0, 0.1);
  color: crimson;
}

.alert.success {
  background-color: rgba(0, 255, 0, 0.1);
  color: seagreen;
}

.alert button {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  font-size: 0.85em;
  cursor: pointer;
}

.alert.danger button {
  color: crimson;
}

.alert.success button {
  color: seagreen;
}
