.addjob-container {
  padding: 3rem 2rem;
}

.addjob-container .addjob-form {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: var(--shadow-2);
  transition: 0.3s ease;
  padding: 1.8rem;
}

.addjob-form form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 14px;
  row-gap: 8px;
  align-items: flex-end;
  margin: 20px 0 0;
}

.addjob-form form button {
  cursor: pointer;
}

.addjob-container .addjob-form:hover {
  box-shadow: var(--shadow-3);
}

.addjob-form h3 {
  font-size: 1.6em;
  font-weight: 500;
}
